.gs_content {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem 0 8rem 0;
  gap: 8rem;
  min-height: 400px;
}

.gs_globe {
  position: absolute;
  right: 50%;
  place-self: center;
}

.gs_text_container {
  position: relative;
  place-items: center;
}

.gs_text_content {
}

.gs_bg_blur {
  position: absolute;
  place-self: center;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 0 0 20px var(--green);
}

.gs_logo {
  width: 3rem;
}
