.hero_section {
  position: relative;
  width: 100vw;
  min-height: 115vh;
  background-color: var(--dark-blue);
  background-color: hsla(218, 29%, 7%, 1);
  background-image: radial-gradient(
      at 22% 100%,
      hsla(328, 87%, 71%, 0.14) 0px,
      transparent 50%
    ),
    radial-gradient(at 92% 83%, hsla(129, 50%, 46%, 0.1) 0px, transparent 50%),
    radial-gradient(at 21% 2%, hsla(177, 56%, 45%, 0.2) 0px, transparent 50%);
}

.hero_header {
  position: absolute;
  place-items: end;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.slider_container {
  position: relative;
  display: flex;
  white-space: pre;
  z-index: 0;
}

.hero_header_slider {
  position: relative;
  overflow: visible;
  display: flex;
  white-space: pre;
}

.filled_text {
  color: var(--grey);
  opacity: 0.3;
}

.slider_text {
  font-size: var(--slider-font-size);
  font-weight: var(--font-semi-bold);
  user-select: none;
}
